#injector-popup {
	background-color:#ccc;
	width:500px;
	transition: all 500ms cubic-bezier(.8,.21,.7,.97);
	overflow-y:scroll;	
}

/* Checkbox */
#show-matches {
	vertical-align: sub;
	margin-right:0px;
}

.rule-text {
	width:100%;
	height:200px;
	resize:none;
}

#new-rule-regex {
	width:300px;
}

.rule-regex {
	height:30px;
	padding:5px;
}

.bottom-button {
	width:100px;
	height:30px;
	margin:5px;
}

.collapsed-rule:nth-child(odd) {
	background-color:#f0f0f0;
}
.collapsed-rule:nth-child(even) {
	background-color:white;
}

iframe {
	border:1px solid #888;
	border-top:0px;
	width:100%;
	height:120px;
	overflow-y:auto;
}
iframe:first-child{
	border-top: 1px solid #888;
}

iframe:nth-child(odd) {
		background-color:#e0e0f0;
}
iframe:nth-child(even) {
		background-color:#f0f0f0;
}

h3 label {
	font-weight: normal;
}
